.popup__error {
    background-color:(0, 0, 0 ,0);
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup__error__body {
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(235, 233, 233);
    height: 150px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.popup__error__title {
    padding-top: 15px;
    padding-bottom: 20px;
}

.popup__error__button {
    border-radius: 12px;
    height: 30%;
    width: 50%;
    padding-top: 7px;
    position: relative;
    background-color: rgb(68, 129, 195);
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}